CREATE OR REPLACE TABLE `{{ match_content_table_id }}` AS

WITH unique_works AS (
  SELECT DISTINCT match.match_doi AS doi
  FROM `{{ match_intermediate_table_id }}` AS matches, UNNEST(matches.matches) AS match
)

SELECT unique_works.doi, match.match_data.content
FROM unique_works
LEFT JOIN `{{ match_norm_table_id }}` AS match ON match.doi = unique_works.doi
WHERE match.match_data.content IS NOT NULL