CREATE TEMP FUNCTION normalise_type(input STRING)
RETURNS STRING
LANGUAGE js AS """
  if (input === null) return null;

  const lookup = {
    'JournalArticle': 'article',
    'ConferencePaper': 'article',
    'Audiovisual': 'audio-visual',
    'Film': 'audio-visual',
    'Book': 'book',
    'BookChapter': 'book-chapter',
    'Collection': 'collection',
    'DataPaper': 'data-paper',
    'Dataset': 'dataset',
    'Dissertation': 'dissertation',
    'Event': 'event',
    'Image': 'image',
    'InteractiveResource': 'interactive-resource',
    'Model': 'model',
    'OutputManagementPlan': 'output-management-plan',
    'PeerReview': 'peer-review',
    'PhysicalObject': 'physical-object',
    'Instrument': 'physical-object',
    'Preprint': 'preprint',
    'Report': 'report',
    'Service': 'service',
    'Software': 'software',
    'ComputationalNotebook': 'software',
    'Sound': 'sound',
    'Standard': 'standard',
    'Text': 'text',
    'Workflow': 'workflow',
    'Other': 'other'
  };

  return lookup[input] || 'other';
""";

-- Issued, Created, Available
CREATE TEMP FUNCTION parse_datacite_date(dates ARRAY<STRUCT<date STRING, dateInformation STRING, dateType STRING>>, fallbackDate TIMESTAMP)
RETURNS ARRAY<INT64>
LANGUAGE js AS """
  function parseDateString(dateString) {
    if (!dateString || typeof dateString !== 'string') return null;

    // Trim the input string
    const trimmed = dateString.trim();

    // Regular expression patterns for matching different formats
    const yearMonthDayPattern = /^\\d{4}[-\\/]\\d{1,2}[-\\/]\\d{1,2}/;  // Allows both - and /
    const yearMonthPattern = /^\\d{4}[-\\/]\\d{1,2}$/;                  // Allows both - and /
    const yearPattern = /^\\d{4}$/;
    const duplicateYearPattern = /^(\\d{4})\\/\\1$/;                   // pattern for year/year (e.g., 2012/2012)

    // Check for invalid strings
    if (trimmed === 'null' || trimmed === '' || !trimmed.match(/^\\d/)) {
      return null;
    }

    // Handle year/month/day format (allows - or / separators)
    if (yearMonthDayPattern.test(trimmed)) {
      const [year, month, day] = trimmed.split(/[-\\/T :]/).map(Number);
      return [year, month, day];
    }

    // Handle year/month format (allows - or / separators)
    if (yearMonthPattern.test(trimmed)) {
      const [year, month] = trimmed.split(/[-\\/]/).map(Number);
      return [year, month];
    }

    // Handle year format
    if (yearPattern.test(trimmed)) {
      return [parseInt(trimmed)];
    }

    // Handle duplicate year format (e.g., 2012/2012)
    if (duplicateYearPattern.test(trimmed)) {
      const year = parseInt(trimmed.split('/')[0]);
      return [year];
    }

    // If nothing matched, return empty array
    return null;
  }

  dates = dates.find(d => d.dateType === "Issued") || null;
  let issued = parseDateString(dates?.date);

  if(!issued && fallbackDate){
    issued = [fallbackDate.getFullYear(), fallbackDate.getMonth() + 1, fallbackDate.getDate()]
  }

  return issued || []
""";

CREATE OR REPLACE TABLE `{{ datacite_norm_table_id }}` AS

WITH min_project_start AS (
  SELECT MIN(project_start) AS min_project_start
  FROM `{{ dmps_norm_table_id }}`
),

ror_index AS (
  SELECT
    {{ dataset_id }}.extract_ror(id) AS ror,
    {{ dataset_id }}.extract_isni(isni) AS isni,
    {{ dataset_id }}.extract_wikidata(wikidata) AS wikidata,
    {{ dataset_id }}.extract_grid(external_ids.Grid.all) AS grid,
  FROM `{{ ror_table_id }}`
  LEFT JOIN UNNEST(external_ids.ISNI.all) as isni
  LEFT JOIN UNNEST(external_ids.WikiData.all) as wikidata
),

-- Convert affiliation IDs to ROR
affiliation_ids AS (
  SELECT
    doi,
    ARRAY_AGG(DISTINCT affiliation_id IGNORE NULLS) AS affiliation_ids
  FROM (
    -- Creator and Contributor affiliations
    -- ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_ror(affiliationIdentifier) AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(affiliation)
    WHERE affiliationIdentifierScheme IN ('ROR', 'RORID', 'https://ror.org')

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_ror(affiliationIdentifier) AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(affiliation)
    WHERE affiliationIdentifierScheme IN ('ROR', 'RORID', 'https://ror.org')

    UNION ALL

    -- GRID to ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(affiliation)
    LEFT JOIN ror_index ON ror_index.grid = {{ dataset_id }}.extract_grid(affiliationIdentifier)
    WHERE affiliationIdentifierScheme = 'GRID'

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(affiliation)
    LEFT JOIN ror_index ON ror_index.grid = {{ dataset_id }}.extract_grid(affiliationIdentifier)
    WHERE affiliationIdentifierScheme = 'GRID'

    UNION ALL

    -- ISNI to ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(affiliation)
    LEFT JOIN ror_index ON ror_index.isni = {{ dataset_id }}.extract_isni(affiliationIdentifier)
    WHERE affiliationIdentifierScheme = 'ISNI'

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS affiliation_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(affiliation)
    LEFT JOIN ror_index ON ror_index.isni = {{ dataset_id }}.extract_isni(affiliationIdentifier)
    WHERE affiliationIdentifierScheme = 'ISNI'

    UNION ALL

    -- Non-person name identifiers
    -- Name identifiers contain IDs for organisations as well as people
    -- ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_ror(nameIdentifier) AS person_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(nameIdentifiers)
    WHERE nameIdentifierScheme = "ROR"

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_ror(nameIdentifier) AS person_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(nameIdentifiers)
    WHERE nameIdentifierScheme = "ROR"

    UNION ALL

    -- GRID
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS person_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(nameIdentifiers)
    LEFT JOIN ror_index ON ror_index.grid = {{ dataset_id }}.extract_grid(nameIdentifierScheme)
    WHERE nameIdentifierScheme = "GRID"

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS person_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(nameIdentifiers)
    LEFT JOIN ror_index ON ror_index.grid = {{ dataset_id }}.extract_grid(nameIdentifierScheme)
    WHERE nameIdentifierScheme = "GRID"

    UNION ALL

    -- ISNI
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS person_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(nameIdentifiers)
    LEFT JOIN ror_index ON ror_index.isni = {{ dataset_id }}.extract_isni(nameIdentifierScheme)
    WHERE nameIdentifierScheme = "ISNI"

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS person_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(nameIdentifiers)
    LEFT JOIN ror_index ON ror_index.isni = {{ dataset_id }}.extract_isni(nameIdentifierScheme)
    WHERE nameIdentifierScheme = "ISNI"
  )
  GROUP BY doi
),

-- Get ORCIDs from name identifiers
people_ids AS (
  SELECT
    doi,
    ARRAY_AGG(DISTINCT person_id IGNORE NULLS) AS people_ids
  FROM (
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_orcid(nameIdentifier) AS person_id FROM `{{ datacite_table_id }}`, UNNEST(creators), UNNEST(nameIdentifiers)
    WHERE LOWER(nameIdentifierScheme) LIKE '%orc%'

    UNION ALL

    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_orcid(nameIdentifier) AS person_id FROM `{{ datacite_table_id }}`, UNNEST(contributors), UNNEST(nameIdentifiers)
    WHERE LOWER(nameIdentifierScheme) LIKE '%orc%'
  )
  GROUP BY doi
),

-- Get funder IDs
funder_ids AS (
  SELECT
    doi,
    ARRAY_AGG(DISTINCT funder_id IGNORE NULLS) AS funder_ids
  FROM (
    -- Crossref Funder ID
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_fundref_id(funderIdentifier) AS funder_id FROM `{{ datacite_table_id }}`, UNNEST(fundingReferences)
    WHERE funderIdentifier IS NOT NULL AND funderIdentifierType = "Crossref Funder ID"

    UNION ALL

    -- ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, {{ dataset_id }}.extract_ror(funderIdentifier) AS funder_id FROM `{{ datacite_table_id }}`, UNNEST(fundingReferences)
    WHERE funderIdentifier IS NOT NULL AND funderIdentifierType = "ROR"

    UNION ALL

    -- GRID to ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS funder_id FROM `{{ datacite_table_id }}`, UNNEST(fundingReferences)
    LEFT JOIN ror_index ON ror_index.grid = {{ dataset_id }}.extract_grid(funderIdentifier)
    WHERE funderIdentifier IS NOT NULL AND funderIdentifierType = "GRID"

    UNION ALL

    -- ISNI to ROR
    SELECT {{ dataset_id }}.normalise_doi(doi) AS doi, ror_index.ror AS funder_id FROM `{{ datacite_table_id }}`, UNNEST(fundingReferences)
    LEFT JOIN ror_index ON ror_index.isni = {{ dataset_id }}.extract_isni(funderIdentifier)
    WHERE funderIdentifier IS NOT NULL AND funderIdentifierType = "ISNI"

    -- TODO: grab fundref IDs from affiliations?
  )
  GROUP BY doi
)

SELECT
  {{ dataset_id }}.normalise_doi(datacite.doi) AS doi,

  -- Data to send back to DMP tool
  STRUCT(
    {{ dataset_id }}.strip_html(titles[SAFE_OFFSET(0)].title) AS title,
    {{ dataset_id }}.parts_to_date_string(parse_datacite_date(dates, created)) AS publication_date,
    normalise_type(types.resourceTypeGeneral) AS type,
    (SELECT ARRAY_AGG(
      STRUCT(
        author.givenName AS given,
        author.familyName AS family
      )
    ) FROM UNNEST(creators) AS author WHERE author.givenName IS NOT NULL AND author.familyName IS NOT NULL) AS authors,
    container.title AS container_title,
    container.volume AS volume,
    container.issue AS issue,
    IF(container.firstPage IS NULL OR container.lastPage IS NULL, NULL, CONCAT(container.firstPage, '-', container.lastPage)) AS page,
    publisher,
    NULL AS publisher_location,
    version AS version
  ) AS biblio_data,

  -- Data used for matching
  STRUCT(
    {{ dataset_id }}.date_parts_to_date(parse_datacite_date(dates, datacite.created)) AS publication_date,
    {{ dataset_id }}.create_content(
      {{ dataset_id }}.strip_html(ARRAY_TO_STRING(ARRAY(SELECT t.title FROM UNNEST(titles) AS t), " ")),
      {{ dataset_id }}.strip_html(ARRAY_TO_STRING(ARRAY(SELECT d.description FROM UNNEST(descriptions) AS d), " "))
    ) AS content,

    -- Affiliations
    (SELECT ARRAY_AGG(DISTINCT affiliation IGNORE NULLS)
      FROM (
        SELECT {{ dataset_id }}.normalise_name(affiliation.name) AS affiliation
        FROM UNNEST(creators) AS creator, UNNEST(creator.affiliation) AS affiliation

        UNION ALL

        SELECT {{ dataset_id }}.normalise_name(affiliation.name) AS affiliation
        FROM UNNEST(contributors) AS contrib, UNNEST(contrib.affiliation) AS affiliation

        UNION ALL

        SELECT {{ dataset_id }}.normalise_name(affiliation) AS affiliation FROM UNNEST(openalex.match_data.affiliations) AS affiliation -- Add OpenAlex affiliations
      )
    ) AS affiliations,

    -- Affiliation IDs
    (
      SELECT ARRAY_AGG(DISTINCT affiliation_id)
      FROM (
        SELECT affiliation_id FROM UNNEST(affiliation_ids.affiliation_ids) AS affiliation_id

        UNION ALL

        SELECT affiliation_id FROM UNNEST(openalex.match_data.affiliation_ids) AS affiliation_id -- Add OpenAlex affiliation IDs
      )
    ) AS affiliation_ids,

    -- Funders
    (
      SELECT ARRAY_AGG(DISTINCT funder IGNORE NULLS)
      FROM (
          SELECT {{ dataset_id }}.normalise_name(funder.funderName) AS funder FROM UNNEST(fundingReferences) AS funder WHERE funder.funderName IS NOT NULL

          UNION ALL

          SELECT {{ dataset_id }}.normalise_name(funder) FROM UNNEST(openalex.match_data.funders) AS funder -- Add OpenAlex funders
      )
    ) AS funders,

    -- Funder IDs
    (
      SELECT ARRAY_AGG(DISTINCT funder_id)
      FROM (
        SELECT funder_id FROM UNNEST(funder_ids.funder_ids) AS funder_id

        UNION ALL

        SELECT funder_id FROM UNNEST(openalex.match_data.funder_ids) AS funder_id -- Add OpenAlex funder IDs
      )
    ) AS funder_ids,

    -- ARRAY<STRING>[] AS funder_opportunity_ids,

    -- Grant IDs
    (SELECT ARRAY_AGG(DISTINCT grant_id)
      FROM (
        SELECT LOWER(TRIM(funder.awardNumber)) AS grant_id
        FROM UNNEST(fundingReferences) AS funder
        WHERE funder.awardNumber IS NOT NULL

        UNION ALL

        SELECT LOWER(TRIM(funder.awardUri)) AS grant_id
        FROM UNNEST(fundingReferences) AS funder
        WHERE funder.awardUri IS NOT NULL

        UNION ALL

        SELECT grant_id FROM UNNEST(openalex.match_data.grant_ids) as grant_id -- Add OpenAlex Grant IDs
      )
    ) AS grant_ids,

    -- People
    (SELECT ARRAY_AGG(DISTINCT person IGNORE NULLS)
      FROM (
        SELECT
          CASE
            WHEN creator.givenName IS NOT NULL AND creator.familyName IS NOT NULL THEN {{ dataset_id }}.normalise_person_name(CONCAT(creator.givenName, ' ', creator.familyName))
            ELSE {{ dataset_id }}.normalise_person_name(creator.name)
          END AS person
        FROM UNNEST(creators) as creator
        WHERE creator.name IS NOT NULL OR (creator.givenName IS NOT NULL AND creator.familyName IS NOT NULL)

        UNION ALL

        SELECT
          CASE
            WHEN contrib.givenName IS NOT NULL AND contrib.familyName IS NOT NULL THEN {{ dataset_id }}.normalise_person_name(CONCAT(contrib.givenName, ' ', contrib.familyName))
            ELSE {{ dataset_id }}.normalise_person_name(contrib.name)
          END AS person
        FROM UNNEST(contributors) as contrib
        WHERE contrib.name IS NOT NULL OR (contrib.givenName IS NOT NULL AND contrib.familyName IS NOT NULL)

        UNION ALL

        SELECT {{ dataset_id }}.normalise_person_name(person) FROM UNNEST(openalex.match_data.people) AS person -- Add OpenAlex author names
      )
    ) AS people,

    -- People IDs
    (
      SELECT ARRAY_AGG(DISTINCT person_id)
      FROM (
        SELECT person_id FROM UNNEST(people_ids.people_ids) AS person_id

        UNION ALL

        SELECT person_id FROM UNNEST(openalex.match_data.people_ids) AS person_id -- Add OpenAlex ORCID IDs
      )
    ) AS people_ids

    -- ARRAY<STRING>[] AS repos,
    -- ARRAY<STRING>[] AS repo_ids,
) AS match_data
FROM `{{ datacite_table_id }}` as datacite
LEFT JOIN affiliation_ids ON affiliation_ids.doi = {{ dataset_id }}.normalise_doi(datacite.doi)
LEFT JOIN people_ids ON people_ids.doi = {{ dataset_id }}.normalise_doi(datacite.doi)
LEFT JOIN funder_ids ON funder_ids.doi = {{ dataset_id }}.normalise_doi(datacite.doi)
LEFT JOIN `{{ openalex_norm_table_id }}` AS openalex ON openalex.doi = {{ dataset_id }}.normalise_doi(datacite.doi) -- Enrich with OpenAlex identifiers
WHERE datacite.created IS NOT NULL AND ({{ dataset_id }}.date_parts_to_date(parse_datacite_date(dates, datacite.created)) BETWEEN (SELECT min_project_start FROM min_project_start).min_project_start AND CURRENT_DATE())
AND types.resourceTypeGeneral NOT IN ("Journal", "ConferenceProceeding")
ORDER BY match_data.publication_date DESC