interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois?query=titles.title%3A%22COKI+Open+Access+Dataset%22&sort=relevance
  response:
    body:
      string: "{\"data\":[{\"id\":\"10.5281/zenodo.6815932\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.5281/zenodo.6815932\",\"identifiers\":[],\"creators\":[{\"name\":\"Hosking,
        Richard\",\"nameType\":\"Personal\",\"givenName\":\"Richard\",\"familyName\":\"Hosking\",\"affiliation\":[\"Centre
        for Culture and Technology, Curtin University\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0001-8288-5241\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Diprose,
        James P.\",\"nameType\":\"Personal\",\"givenName\":\"James P.\",\"familyName\":\"Diprose\",\"affiliation\":[\"Centre
        for Culture and Technology, Curtin University\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-5094-3571\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Roelofs,
        Aniek\",\"nameType\":\"Personal\",\"givenName\":\"Aniek\",\"familyName\":\"Roelofs\",\"affiliation[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois?query=titles.title%3A%22The+Data+for+Cloud+Removal+in+Full-disk+Solar+Images+Using+Deep+Learning%22&sort=relevance
  response:
    body:
      string: "{\"data\":[{\"id\":\"10.5281/zenodo.13841240\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.5281/zenodo.13841240\",\"identifiers\":[],\"creators\":[{\"name\":\"Shang,
        Zhenhong\",\"nameType\":\"Personal\",\"givenName\":\"Zhenhong\",\"familyName\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois?query=titles.title%3A%22Supplemental+Figures+for%3A+%5C%22The+SDSS-V+Black+Hole+Mapper+Reverberation+Mapping+Project%3A+Multi-Line+Dynamical+Modeling+of+a+Highly+Variable+Active+Galactic+Nucleus+with+Decade-long+Light+Curves%5C%22%22&sort=relevance
  response:
    body:
      string: "{\"data\":[{\"id\":\"10.5281/zenodo.13259640\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.5281/zenodo.13259640\",\"identifiers\":[{\"identifier\":\"oai:zenodo.org:13259640\",\"identifierType\":\"oai\"}],\"creators\":[{\"name\":\"Stone,
        Zachary\",\"nameType\":\"Personal\",\"givenName\":\"Zachary\",\"familyName\":\"Stone\",\"affiliation\":[\"University
        of Illinois Urbana-Champaign\"],\"nameIdentifiers\":[{\"nameIdentifier\":\"0000-0002-8501-3518\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"title\":\"Supplemental
        Figures for: \\\"The SDSS-V Black Hole Mapper Reverberation Mapping Project:
        Multi-Line Dynamical Modeling of a Highly Variable Active Galactic Nucleus
        with Decade-long Light Curves\\\"\"}],\"publisher\":\"Zenodo\",\"container\":{},\"publicationYear\":2024,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2024-08-07\",\"dateType\":\"Issued\"}],\"language\":\"en\",\"types\":{\"ris\":\"FIGURE\",\"bibtex\":\"misc\",\"citeproc\":\"graphic\",\"schemaOrg\":\"ImageObject\",\"resourceType\":\"Figure\",\"resourceTypeGeneral\":\"Image\"},\"relatedIdentifiers\":[{\"relationType\":\"IsVersionOf\",\"relatedIdentifier\":\"10.5281/zenodo.13259639\",\"relatedIdentifierType\":\"DOI\"}],\"relatedItems\":[],\"sizes\":[],\"formats\":[],\"version\":\"1\",\"rightsList\":[{\"rights\":\"Creative
        Commons Attribution 4.0 International\",\"rightsUri\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"schemeUri\":\"https://spdx.org/licenses/\",\"rightsIdentifier\":\"cc-by-4.0\",\"rightsIdentifierScheme\":\"SPDX\"}],\"descriptions\":[{\"description\":\"Additional
        figures for the paper The SDSS-V Black Hole Mapper Reverberation Mapping Project:
        Multi-Line Dynamical Modeling of a Highly Variable Active Galactic Nucleus
        with Decade-long Light Curves.\_\\n\\n\_\\n\\nfitplot_low.pdf: Same as Figure
        4 in the publication, but for the low state.\\n\\nfitplot_high.pdf: Same as
        Figure 4 in the publication, but for the high state.\\n\\ngeoplot_low.pdf:
        Same as Figure 5 in the publication, but for the low state.\\n\\ngeoplot_high.pdf:
        Same as Figure 5 in the publication, but for the high state.\\n\\nlagplot_low.pdf:
        Same as Figure 7 in the publication, but for the low state.\\n\\nlagplot_high.pdf:
        Same as Figure 7 in the publication, but for the high state.\_\\n\\n\_\\n\\nlogf_compare_method.png:
        A comparison of the virial factor values obtained by using the line dispersion
        and FWHM of each of the lines in each of the states.\\n\\nlogf_correlation_table.pdf:
        A table showing the correlations between the virial factor and model parameters
        (i.e., the slopes obtained using LinMix assuming a linear relationship, and
        the correlation coefficients). Values are given for virial factors obtained
        using both the line dispersion and FWHM.\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://zenodo.org/doi/10.5281/zenodo.13259640\",\"contentUrl\":null,\"metadataVersion\":1,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"api\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":1,\"created\":\"2024-08-07T22:26:30Z\",\"registered\":\"2024-08-07T22:26:30Z\",\"published\":null,\"updated\":\"2024-11-14T21:29:41Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"cern.zenodo\",\"type\":\"clients\"}}}},{\"id\":\"10.5281/zenodo.13259639\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.5281/zenodo.13259639\",\"identifiers\":[],\"creators\":[{\"name\":\"Stone,
        Zachary\",\"nameType\":\"Personal\",\"givenName\":\"Zachary\",\"familyName\":\"Stone\",\"affiliation\":[\"University
        of Illinois Urbana-Champaign\"],\"nameIdentifiers\":[{\"nameIdentifier\":\"0000-0002-8501-3518\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/dois?query=titles.title%3A%22tidyterra%3A+%27tidyverse%27+Methods+and+%27ggplot2%27+Helpers+for+%27terra%27+Objects%22&sort=relevance
  response:
    body:
      string: "{\"data\":[{\"id\":\"10.5281/zenodo.7308079\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.5281/zenodo.7308079\",\"identifiers\":[],\"creators\":[{\"name\":\"Hernang\xF3mez,
        Diego\",\"givenName\":\"Diego\",\"familyName\":\"Hernang\xF3mez\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0001-8457-4658\",\"nameIdentifierScheme\":\"ORCID\"}],\"affiliation\":[]}],\"titles\":[{\"title\":\"tidyterra:
        'tidyverse' Methods and 'ggplot2' Helpers for 'terra' Objects\"}],\"publisher\":\"Zenodo\",\"container\":{},\"publicationYear\":2022,\"subjects\":[{\"subject\":\"cran\"},{\"subject\":\"cran-r\"},{\"subject\":\"ggplot-extension\"},{\"subject\":\"r\"},{\"subject\":\"r-package\"},{\"subject\":\"r-spatial\"},{\"subject\":\"rspatial\"},{\"subject\":\"rstats\"},{\"subject\":\"rstats-package\"},{\"subject\":\"terra\"}],\"contributors\":[],\"dates\":[{\"date\":\"2022-11-09\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"COMP\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"SoftwareSourceCode\",\"resourceTypeGeneral\":\"Software[...]
