interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Usability+Analysis+of+Visual+Programming+Environments%3A+A+%E2%80%98Cognitive+Dimensions%E2%80%99+Framework&query.container-title=Journal+of+Visual+Languages+%26+Computing
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":113976,"items":[{"indexed":{"date-parts":[[2024,9,19]],"date-time":"2024-09-19T14:49:45Z","timestamp":1726757385085},"reference-count":0,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[1996,6,1]],"date-time":"1996-06-01T00:00:00Z","timestamp":833587200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Visual Languages &amp; Computing"],"published-print":{"date-parts":[[1996,6]]},"DOI":"10.1006\/jvlc.1996.0009","type":"journal-article","created":{"date-parts":[[2002,9,18]],"date-time":"2002-09-18T18:57:42Z","timestamp":1032375462000},"page":"131-174","source":"Crossref","is-referenced-by-count":740,"title":["Usability
        Analysis of Visual Programming Environments: A \u2018Cognitive Dimensions\u2019
        Framework"],"prefix":"10.1006","volume":"7","author":[{"given":"T.R.G.","family":"Green","sequence":"first","affiliation":[]},{"given":"M.","family":"Petre","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Journal
        of Visual Languages &amp; Computing"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1045926X96900099?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1045926X96900099?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2021,1,29]],"date-time":"2021-01-29T15:24:21Z","timestamp":1611933861000},"score":70.15979,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/S1045926X96900099"}},"issued":{"date-parts":[[1996,6]]},"references-count":0,"journal-issue":{"issue":"2","published-print":{"date-parts":[[1996,6]]}},"alternative-id":["S1045926X96900099"],"URL":"https:\/\/doi.org\/10.1006\/jvlc.1996.0009","ISSN":["1045-926X"],"issn-type":[{"value":"1045-926X","type":"print"}],"published":{"date-parts":[[1996,6]]}},{"indexed":{"date-parts":[[2024,10,30]],"date-time":"2024-10-30T15:44:15Z","timestamp":1730303055270,"version":"3.28.0"},"reference-count":38,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,10]]},"DOI":"10.1109\/vlhcc.2018.8506483","type":"proceedings-article","created":{"date-parts":[[2018,10,25]],"date-time":"2018-10-25T19:44:51Z","timestamp":1540496691000},"page":"217-225","source":"Crossref","is-referenced-by-count":21,"title":["A
        Usability Analysis of Blocks-based Programming Editors using Cognitive Dimensions"],"prefix":"10.1109","author":[{"given":"Robert","family":"Holwerda","sequence":"first","affiliation":[]},{"given":"Felienne","family":"Hermans","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref38","doi-asserted-by":"crossref","first-page":"29","DOI":"10.1145\/2818314.2818331","article-title":"Frame-Based
        Editing: Easing the Transition from Blocks to Text-Based Programming","author":"kolling","year":"2015","journal-title":"Proceedings
        of the Workshop in Primary and Secondary Computing Education"},{"key":"ref33","doi-asserted-by":"publisher","DOI":"10.1109\/BLOCKS.2015.7369003"},{"key":"ref32","doi-asserted-by":"publisher","DOI":"10.1109\/BLOCKS.2015.7369001"},{"journal-title":"GP
        Feature Blocks to Text Slider","year":"0","key":"ref31"},{"key":"ref30","doi-asserted-by":"publisher","DOI":"10.1145\/3015455"},{"key":"ref37","doi-asserted-by":"publisher","DOI":"10.1109\/BLOCKS.2015.7369004"},{"key":"re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=The+%E2%80%9CPhysics%E2%80%9D+of+Notations%3A+Toward+a+Scientific+Basis+for+Constructing+Visual+Notations+in+Software+Engineering&query.container-title=IEEE+Transactions+on+software+engineering
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":276151,"items":[{"indexed":{"date-parts":[[2024,11,19]][...]
